/*faz aplicação global de css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/*variáveis que podem ser usadas para todo o documento */
/*ativo somente no Dark Mode */

:root{
    --bg-url: url(../img/background.png.jpg)
}


body{
    background: var(--bg-url) no-repeat 
    top center / cover;
    height: 100vh;
}